.mapbox {
    height: 400px;
    width: 40vw;
 }
.demo-card-event.mdl-card {
    width: 600px;
    background: #c8c8c8;
 }

 .demo-card-event>.mdl-card__actions {
    border-color: rgba(255, 255, 255, 0.0);
 }

 .demo-card-event>.mdl-card__title {
    align-items: flex-start;
    padding: 0px;
 }

 .demo-card-event>.mdl-card__title>h4 {
    margin-top: 0;
 }

 .demo-card-event>.mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
 }

 .demo-card-event>.mdl-card__actions>.material-icons {
    padding-right: 10px;
 }

 .demo-card-event>.mdl-card__title,
 .demo-card-event>.mdl-card__actions,
 .demo-card-event>.mdl-card__actions>.mdl-button {
    color: #000000;
 }